body a {
    text-decoration: none;
    border: 2px solid silver;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    color:black;
}

body{
    background-color: black;
}

head{
    background-color: black;
}

h1, p, li, body a{
    color: silver;
    font-family: cursive;
}